Distribuidora/Service References/ServiceReferenceDistribuidoraWCF/DistribuidoraWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Distribuidora" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Distribuidora" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTecnico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tecnico" nillable="true" type="tns:Tecnico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTecnico" nillable="true" type="tns:ArrayOfTecnico" />
  <xs:complexType name="Tecnico">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Persistente">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescTarea" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
          <xs:element minOccurs="0" name="IdFabricado" type="xs:int" />
          <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
          <xs:element minOccurs="0" name="TiempTarea" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tecnico" nillable="true" type="tns:Tecnico" />
  <xs:complexType name="Persistente">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Persistente" nillable="true" type="tns:Persistente" />
</xs:schema>