Distribuidora/Service References/ServiceReferenceDistribuidoraWCF/DistribuidoraWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63697/DistribuidoraWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Distribuidora" />
  <xs:import schemaLocation="http://localhost:63697/DistribuidoraWCF.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioDistribuidora" />
  <xs:element name="agregarProductoFabricado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descProd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="costoProd" type="xs:double" />
        <xs:element minOccurs="0" name="precioSugeridoProd" type="xs:double" />
        <xs:element minOccurs="0" name="tiempoFabProd" type="xs:int" />
        <xs:element minOccurs="0" name="idAltaEmpleado" type="xs:int" />
        <xs:element minOccurs="0" name="garantiaAnios" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarProductoFabricadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarProductoFabricadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarProductoImportado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="costo" type="xs:double" />
        <xs:element minOccurs="0" name="precioSugerido" type="xs:double" />
        <xs:element minOccurs="0" name="descontinuado" type="xs:boolean" />
        <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantImportacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarProductoImportadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarProductoImportadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="asignarTecnico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Distribuidora" minOccurs="0" name="tecnicos" nillable="true" type="q1:ArrayOfTecnico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="asignarTecnicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asignarTecnicoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mostrarTodosFabricados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mostrarTodosFabricadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioDistribuidora" minOccurs="0" name="mostrarTodosFabricadosResult" nillable="true" type="q2:ArrayOfDtoFabricado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="altaEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="altaEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="altaEmpleadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mostrarTodosImportado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mostrarTodosImportadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioDistribuidora" minOccurs="0" name="mostrarTodosImportadoResult" nillable="true" type="q3:ArrayOfDtoImportado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarReporteTxtProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarReporteTxtProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarReporteTxtProductosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>